.testinomial {
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: #358;
    margin-right: 20px;
    position: relative;
    padding: 110px 0 55px 0;
    &:last-child {
        margin-right: 0;
    }

    @media screen and (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 100px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        color: #fff;
        text-align: center;
        font-family: Readex Pro;
        font-size: 24px;
        font-weight: 400;
        line-height: 27.5px;
    }

    &__body {
        width: 348px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 20px;

        @media screen and (max-width: 768px) {
            width: auto;
        }

        &-image {
            // margin-top: -150px;
            // margin-bottom: 30px;
            position: absolute;
            top: -85px;
        }

        &-title {
            color: #fff;
            font-family: Roboto;
            font-size: 22px;
            font-weight: 500;
            line-height: 27.5px; /* 125% */
            text-decoration-line: underline;
            text-transform: capitalize;
            margin-bottom: 35px;
        }

        &-description {
            color: #fff;
            text-align: center;
            font-family: Readex Pro;
            font-size: 22px;
            font-weight: 300;
            line-height: 27px;
            padding: 0 10px;
        }
    }
}
